#dark-mode
{
    width:45px;
    height:22px;
    right:20px;
    top:20px;
    border:2px solid;
    border-radius:20px;
    background-color: grey;
}

.night
{
    background:black;
    background-attachment:fixed;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
.night div ul li {
    color: white;
}

#dark-mode:before{
    position:absolute;
    content:"";
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    background:black;
    transition:2.4s;
    border:2px solid;
}

#dark-mode.active:before{
    left:450px;
    background:#000; 
    transition:2.4s;
    border-radius:50%;
    background:black;
    border:2px solid;
}

.test{color: #fff;}